@tailwind base;
@tailwind components;
@tailwind utilities;
@import "material-icons/iconfont/material-icons.css";
@import "material-symbols";

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e4e4e7;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.h-80vh {
  height: 80vh;
}

.error-message {
  color: rgb(100, 8, 8);
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

/* Nav Links two way underline slide */
.nav-links {
  display: inline-block;
}

.nav-links {
  text-decoration: none;
  position: relative;
  display: block;
}

.nav-links a:before,
.nav-links a:after {
  content: "";
  border-bottom: solid 1px white;
  position: absolute;
  bottom: 0;
  width: 0;
}

.nav-links a:before {
  left: 0;
}
.nav-links a:after {
  right: 0;
}

.nav-links a:hover:before,
.nav-links a:hover:after,
.active a:before,
.active a:after {
  width: 50%;
}

.nav-links a:before,
.nav-links a:after {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* Banner Background */
.home-banner,
.banner-gradient {
  background: rgba(255, 255, 255, 0.5);
}

@media only screen and (min-width: 768px) {
  .banner-gradient {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 55%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 1) 100%);
  }
}

/* form animations */
.transition-height {
  transition: max-height 1s ease-in-out;
}

@keyframes reduceHeight {
  from {
    height: 750px;
  }
  to {
    height: 300px;
  }
}

@keyframes reduceHeightRecruit {
  from {
    height: 1080px;
  }
  to {
    height: 300px;
  }
}

/* Apply the animation to your container */
.reduceHeightCan {
  height: 350px; /* Final height */
  animation: reduceHeight 1s forwards; /* 1s duration as an example, adjust as needed */
}

.reduceHeightRec {
  height: 350px; /* Final height */
  animation: reduceHeightRecruit 1s forwards; /* 1s duration as an example, adjust as needed */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* For Chrome, Safari, and newer versions of Opera */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Flipper */

.c {
  will-change: transform, opacity;
}
